
:root{
  --Background: #060126;
  --Text: white;
  --card-bg: #1D0259;
  --trasparent-bg: #1e025961;
  --border:#150140;
  --gradient: linear-gradient(90deg, rgba(112,37,217,1) 0%, rgba(255,255,255,1) 47%, rgba(75,10,166,1) 100%);;
}footer{
  background-color: var(--card-bg);
  padding: 2rem 0 1rem 5rem;
  font-family: "Red Hat Text", serif;
  color: var(--Text);
  width: 100%;
  margin: 6rem auto 0;
 
}
footer >h4{
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer a{
  color: var(--Text);
  text-decoration: none;
  display: block;
  line-height: 2;
  font-size: 1.2rem;
}
footer p{
  text-align: center;
}



